.text-header {
    font-size: 30px;
    font-weight: bold;
    color: #4B49AC;
}

body {
    font-family: 'Sarabun', sans-serif;
}

th {
    font-weight: normal; /* เปลี่ยนจากตัวหนาเป็นตัวปกติ */
}


